
sources:
  lastMinorRelease:
    kind: helmchart
    spec:
      url: "https://helm.traefik.io/traefik"
      name: "traefik"
      version: "39.*.*"
conditions: {}
targets:
  chart:
    name: Bump Chart dependencies
    kind: helmchart
    spec:
      Name: "/home/runner/work/k8s-home/k8s-home/virt01/automated/common/traefik"
      file: "Chart.yaml"
      key: "$.dependencies[0].version"
      versionIncrement: "patch"
