
frigate:
  image:
    # -- Docker registry/repository to pull the image from
    repository: ghcr.io/blakeblackshear/frigate
    tag: stable-tensorrt

  env:
    TZ: America/New_York
  envFromSecrets:
    - frigate-config
  gpu:
    nvidia:
      # -- Enables NVIDIA GPU compatibility. Must also use the "amd64nvidia" tagged image
      enabled: true
      runtimeClassName: nvidia
  ingress:
    # -- Enables the use of an Ingress Controller to front the Service and can provide HTTPS
    enabled: true    
    ingressClassName: "traefik"
    annotations:
      cert-manager.io/cluster-issuer: "nf-lab"
      cert-manager.io/private-key-rotation-policy: "Always"
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      external-dns.alpha.kubernetes.io/target: "traefik.k3s.nf.lab"
    hosts:
      - host: "frigate.k3s.nf.lab"
        paths:
          - path: '/'
            portName: http
    tls:
      - secretName: "frigate-tls"
        hosts:
          - "frigate.k3s.nf.lab"

  service:
    type: LoadBalancer
    annotations:
      metallb.io/address-pool: vlan1400
      external-dns.alpha.kubernetes.io/hostname: frigate-local.k3s.nf.lab

  persistence:
    config:
      enabled: true        
      skipuninstall: false
      size: 10Gi
    media:
      enabled: true        
      skipuninstall: false    
      existingClaim: frigate-media
  config: |
    mqtt:
      # Required: host name
      host: mqtt.k3s.nf.lab
      # Optional: port (default: shown below)
      port: 1883
      # Optional: topic prefix (default: shown below)
      # WARNING: must be unique if you are running multiple instances
      topic_prefix: frigate
      # Optional: client id (default: shown below)
      # WARNING: must be unique if you are running multiple instances
      client_id: frigate
      # Optional: user
      #user: mqtt_user
      # Optional: password
      # NOTE: Environment variables that begin with 'FRIGATE_' may be referenced in {}.
      #       eg. password: '{FRIGATE_MQTT_PASSWORD}'
      #password: password
      # Optional: interval in seconds for publishing stats (default: shown below)
      stats_interval: 60

    go2rtc:
      streams:
        #Wyze
        LivingRoom:
          - rtsp://10.40.1.42:8554/1080p?mp4
          - ffmpeg:LivingRoom#audio=opus
        LivingRoom_sub:
          - rtsp://10.40.1.42:8554/360p?mp4
          - ffmpeg:LivingRoom#audio=opus
        # FrontPorch:
        #   - rtsp://10.40.1.22:8554/1080p?mp4
        #   - ffmpeg:FrontPorch#audio=opus
        FrontPorch_sub:
          - rtsp://10.40.1.22:8554/360p?mp4
          - ffmpeg:FrontPorch#audio=opus
        BunCam:
          - rtsp://10.40.1.19:8554/1080p?mp4
          - ffmpeg:BunCam#audio=opus
        BunCam_sub:
          - rtsp://10.40.1.19:8554/360p?mp4
          - ffmpeg:BunCam#audio=opus
        Kitchen:
          - rtsp://scrypted-rtsp-svc:33759/75e57ba83105f666
          - ffmpeg:Kitchen#audio=opus
        Kitchen_sub:
          - rtsp://scrypted-rtsp-svc:33759/31e5716887d9312a
          - ffmpeg:Kitchen#audio=opus
        SittingRoom:
          - rtsp://scrypted-rtsp-svc:40123/0646b22eadf4d50a
          - ffmpeg:SittingRoom#audio=opus
        SittingRoom_sub:
          - rtsp://scrypted-rtsp-svc:40123/91389e5f43812d1a
          - ffmpeg:SittingRoom#audio=opus
        # reolink
        rlc_520a_main_garage:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.149:554/h265Preview_01_main
        rlc_520a_sub_garage:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.149:554/h265Preview_01_sub
        rlc_520a_main_front_porch:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.148:554/h265Preview_01_main
        rlc_520a_sub_front_porch:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.148:554/h265Preview_01_sub
        rlc_520a_main_back_door:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.151:554/h265Preview_01_main
        rlc_520a_sub_back_door:
          - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@10.40.1.151:554/h265Preview_01_sub
    snapshots:
      enabled: true

    live:
      # Optional: Set the streams configured in go2rtc
      # that should be used for live view in frigate WebUI. (default: name of camera)
      # NOTE: In most cases this should be set at the camera level only.
      # streams:
      #   main_stream: main_stream_name
      #   sub_stream: sub_stream_name
      # Optional: Set the height of the jsmpeg stream. (default: 720)
      # This must be less than or equal to the height of the detect stream. Lower resolutions
      # reduce bandwidth required for viewing the jsmpeg stream. Width is computed to match known aspect ratio.
      #height: 640
      # Optional: Set the encode quality of the jsmpeg stream (default: shown below)
      # 1 is the highest quality, and 31 is the lowest. Lower quality feeds utilize less CPU resources.
      quality: 8

    birdseye:
      enabled: true
      mode: continuous
      width: 1280
      height: 480

    detect:
      enabled: true
      width: 640
      height: 480
      fps: 5
      min_initialized: 2
      max_disappeared: 25
      stationary:
        # Optional: Frequency for confirming stationary objects (default: same as threshold)
        # When set to 1, object detection will run to confirm the object still exists on every frame.
        # If set to 10, object detection will run to confirm the object still exists on every 10th frame.
        interval: 50
        # Optional: Number of frames without a position change for an object to be considered stationary (default: 10x the frame rate or 10s)
        threshold: 50
        max_frames:
          # Optional: Default for all object types (default: not set, track forever)
          default: 100
          # Optional: Object specific values
          objects:
            person: 100

    ffmpeg:
      global_args: -hide_banner -loglevel warning -threads 2
      hwaccel_args: preset-nvidia
      input_args: preset-rtsp-generic
      output_args:
        detect: -threads 2 -f rawvideo -pix_fmt yuv420p
        record: preset-record-generic
      retry_interval: 10

    detectors:
      onnx:
        type: onnx

    model:
      # model_type: yolox
      # width: 640
      # height: 640
      # input_tensor: nchw
      # input_dtype: float_denorm
      # path: /config/model_cache/yolox_l.onnx
      model_type: yolonas
      width: 320 # <--- should match whatever was set in notebook
      height: 320 # <--- should match whatever was set in notebook
      input_pixel_format: bgr
      input_tensor: nchw
      path: /config/model_cache/yolo_nas_s.onnx
      labelmap_path: /labelmap/coco-80.txt

    objects:
      track:
        - person
        - car
        - dog
        - cat
      filters:
        dog:
          min_score: .7
          threshold: .9
        cat:
          min_score: .65
          threshold: .8
        person:
          min_score: .65
          threshold: .85
        car:
          min_score: .65
          threshold: .85

    record:
      enabled: true
      retain:
        days: 14
        mode: all
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        pre_capture: 5
        post_capture: 5
        retain:
          days: 30
          mode: motion


    # # NOTE: Can be overridden at the camera level
    # audio:
    #   # Optional: Enable audio events (default: shown below)
    #   enabled: False
    #   # Optional: Configure the amount of seconds without detected audio to end the event (default: shown below)
    #   max_not_heard: 30
    #   # Optional: Configure the min rms volume required to run audio detection (default: shown below)
    #   # As a rule of thumb:
    #   #  - 200 - high sensitivity
    #   #  - 500 - medium sensitivity
    #   #  - 1000 - low sensitivity
    #   min_volume: 500
    #   # Optional: Types of audio to listen for (default: shown below)
    #   listen:
    #     - bark
    #     - fire_alarm
    #     - scream
    #     - speech
    #     - yell
    #   # Optional: Filters to configure detection.
    #   filters:
    #     # Label that matches label in listen config.
    #     speech:
    #       # Minimum score that triggers an audio event (default: shown below)
    #       threshold: 0.8

    # review:
    #   # Optional: alerts configuration
    #   alerts:
    #     # Optional: enables alerts for the camera (default: shown below)
    #     enabled: True
    #     # Optional: labels that qualify as an alert (default: shown below)
    #     labels:
    #       - car
    #       - person
    #     # Optional: required zones for an object to be marked as an alert (default: none)
    #     # NOTE: when settings required zones globally, this zone must exist on all cameras
    #     #       or the config will be considered invalid. In that case the required_zones
    #     #       should be configured at the camera level.
    #     #required_zones:
    #     #  - driveway
    #   # Optional: detections configuration
    #   detections:
    #     # Optional: enables detections for the camera (default: shown below)
    #     enabled: True
    #     # Optional: labels that qualify as a detection (default: all labels that are tracked / listened to)
    #     labels:
    #       - car
    #       - person


    # genai:
    #   # Optional: Enable AI description generation (default: shown below)
    #   enabled: false
    #   # Required if enabled: Provider must be one of ollama, gemini, or openai
    #   provider: ollama
    #   model: llama3.2-vision:latest
    #   # Required if provider is ollama. May also be used for an OpenAI API compatible backend with the openai provider.
    #   base_url: http://ollama.ai.svc.cluster.local:11434
    #   # Required if gemini or openai
    #   api_key: ""
    #   # Optional: The default prompt for generating descriptions. Can use replacement
    #   # variables like "label", "sub_label", "camera" to make more dynamic. (default: shown below)
    #   prompt: "Describe the {label} in the sequence of images with as much detail as possible. Do not describe the background."
    #   # Optional: Object specific prompts to customize description results
    #   # Format: {label}: {prompt}
    #   object_prompts:
    #     person: "My special person prompt."

    cameras:
      # Name of your camera
      LivingRoom:
        enabled: true
        detect:
          enabled: false
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/LivingRoom
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/LivingRoom_sub
              input_args: preset-rtsp-restream
              roles:
                - detect
        motion:
          mask:
            - 0.396,0,0.393,0.119,0.624,0.162,0.621,0
        mqtt:
          enabled: true
          timestamp: false
          bounding_box: false
          crop: true
          height: 720
          quality: 70
        objects:
          mask: 0.982,0.981,0.982,0.936,0.719,0.935,0.719,0.981
      BunCam:
        enabled: true
        detect:
          enabled: false
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/BunCam
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/BunCam_sub
              input_args: preset-rtsp-restream
              roles:
                - detect
        objects:
          mask: 0.981,0.981,0.981,0.938,0.713,0.936,0.713,0.982
      Kitchen:
        enabled: true
        detect:
          enabled: false
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/Kitchen
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/Kitchen_sub
              input_args: preset-rtsp-restream
              roles:
                - detect
        objects:
          mask: 0.719,0.937,0.718,0.979,0.981,0.98,0.978,0.939
      SittingRoom:
        enabled: true
        detect:
          enabled: false
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/SittingRoom
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/SittingRoom_sub
              input_args: preset-rtsp-restream
              roles:
                - detect
        objects:
          mask: 0.966,0.981,0.967,0.931,0.673,0.93,0.675,0.979
      GarageFront:
        enabled: true
        # live:
        #   streams:
        #     main_stream: rlc_520a_main_garage
        #     sub_stream: rlc_520a_sub_garage
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/rlc_520a_main_garage
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/rlc_520a_sub_garage
              input_args: preset-rtsp-restream
              roles:
                - detect
        motion:
          threshold: 50
          contour_area: 50
          improve_contrast: true
        review:
          alerts:
            labels: []
          detections:
            required_zones:
              - Walkway_zone
              - Driveway_zone
              - Front_Yard_zone
        detect:
          enabled: true
          fps: 7
          width: 640
          height: 480
          stationary:
            interval: 50
            threshold: 50
        objects:
          track:
            - person
            - car
            - dog

          mask:
            - 0.984,0.982,0.983,0.948,0.647,0.946,0.649,0.983
            - 0.164,0.986,0.164,0.953,0.006,0.95,0.006,0.987
        zones:
          Front_Yard_zone:
            coordinates: 
              0.234,0.745,0.95,0.429,0.725,0.391,0.48,0.38,0.299,0.384,0.18,0.387,0.054,0.421
            loitering_time: 0
            objects:
              - person
              - dog
            inertia: 3
          Driveway_zone:
            coordinates: 0.042,0.829,0.087,0.997,1,1,1,0.811,1,0.447,0.958,0.436
            loitering_time: 0
            objects:
              - car
              - person
            inertia: 3
          Walkway_zone:
            coordinates: 
              0.225,0.745,0.135,0.575,0.003,0.599,0.012,0.666,0.078,0.648,0.132,0.787
            loitering_time: 0
            objects:
              - dog
              - person
      FrontPorch:
        enabled: true
        # live:
        #   streams:
        #     main_stream: rlc_520a_main_front_porch
        #     sub_stream: rlc_520a_sub_front_porch
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/rlc_520a_main_front_porch
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/rlc_520a_sub_front_porch
              input_args: preset-rtsp-restream
              roles:
                - detect
        # motion:
        #   mask: 
        review:
          alerts:
            labels: []
          detections:
            required_zones:
              - Porch_zone
              - Driveway_zone
              - Front_Yard_zone
              - Front_Side_Yard_zone
        # From the sub stream we have a resolution: 640x480, fps: 7, bitrate: 512
        detect:
          enabled: true
          fps: 7
          width: 640
          height: 480
          stationary:
            interval: 50
            threshold: 50
        objects:
          track:
            - person
            - car
            - dog

          mask:
            - 0.318,0.011,0.285,0.128,0.35,0.13
            - 0.511,0.341,0.371,0.365,0.263,0.451,0.197,0.573,0.001,0.706,0,0.994,0.145,0.909,0.673,0.458,0.512,0.414
            - 0.646,0.946,0.646,0.988,0.984,0.989,0.984,0.944
        zones:
          Porch_zone:
            coordinates: 
              0.935,0.476,0.975,0.277,0.8,0.222,0.782,0.365,0.044,0.994,0.808,0.994
            loitering_time: 0
            objects:
              - person
              - dog
          Driveway_zone:
            coordinates: 
              0.674,0.436,0.75,0.377,0.762,0.255,0.66,0.225,0.226,0.16,0.113,0.203,0.481,0.276,0.49,0.397
            loitering_time: 0
            objects:
              - car
              - person
          Front_Yard_zone:
            coordinates: 0.474,0.406,0.476,0.285,0.064,0.206,0.001,0.235,0.001,0.696
            loitering_time: 0
            objects: person
          Front_Side_Yard_zone:
            coordinates: 
              0.234,0.156,0.359,0.128,0.647,0.183,0.721,0.205,0.765,0.22,0.759,0.256,0.675,0.23
            loitering_time: 0
            objects: person
        motion:
          threshold: 50
          contour_area: 50
          improve_contrast: true
      BackDoor:
        enabled: true
        # live:
        #   streams:
        #     main_stream: rlc_520a_main_back_door
        #     sub_stream: rlc_520a_sub_back_door
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/rlc_520a_main_back_door
              input_args: preset-rtsp-restream
              roles:
                - audio
                - record
            - path: rtsp://127.0.0.1:8554/rlc_520a_sub_back_door
              input_args: preset-rtsp-restream
              roles:
                - detect
        # motion:
        #   mask: 
        review:
          alerts:
            labels: []
          detections:
            required_zones: Back_porch_zone
        # From the sub stream we have a resolution: 640x480, fps: 7, bitrate: 512
        detect:
          enabled: true
          fps: 7
          width: 640
          height: 480
          stationary:
            interval: 50
            threshold: 50
        objects:
          track:
            - person
            - dog

          mask:
            - 0.986,0.985,0.984,0.948,0.646,0.946,0.646,0.988
            - 0.008,0.947,0.009,0.984,0.123,0.984,0.124,0.946
        zones:
          Back_porch_zone:
            coordinates: 
              0.904,0.986,0.638,0.846,0.852,0.122,1,0.154,0.994,0.494,0.995,0.606
            loitering_time: 0
            inertia: 3
          Backyard_zone:
            coordinates: 
              0.363,0.998,0.901,1,0.629,0.836,0.807,0.263,0.071,0.29,0,0.344,0.002,0.995
            loitering_time: 0
        motion:
          threshold: 62
          contour_area: 23
          improve_contrast: true
    telemetry:
      # Optional: Enabled network interfaces for bandwidth stats monitoring (default: empty list, let nethogs search all)
      network_interfaces:
        - eth
        - enp
        - eno
        - ens
        - wl
        - lo
      # Optional: Configure system stats
      stats:
        network_bandwidth: true
      # Optional: Enable the latest version outbound check (default: shown below)
      # NOTE: If you use the Home Assistant integration, disabling this will prevent it from reporting new versions
      version_check: true

    version: 0.16-0
    semantic_search:
      enabled: false
      model_size: small
    face_recognition:
      enabled: false
      model_size: small
    lpr:
      enabled: false
    classification:
      bird:
        enabled: false
    camera_groups:
      Outside:
        order: 1
        icon: LuHousePlus
        cameras:
          - BackDoor
          - FrontPorch
          - GarageFront
      Inside:
        order: 2
        icon: LuArchiveRestore
        cameras:
          - LivingRoom
          - BunCam
          - Kitchen
          - SittingRoom
