# https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml

velero:
  # namespace:
  #   labels:
  #   - key: pod-security.kubernetes.io/enforce
  #     value: privileged
  #   - key: pod-security.kubernetes.io/enforce-version
  #     value: latest
  #   - key: pod-security.kubernetes.io/audit
  #     value: privileged
  #   - key: pod-security.kubernetes.io/audit-version
  #     value: latest
  #   - key: pod-security.kubernetes.io/warn
  #     value: privileged
  #   - key: pod-security.kubernetes.io/warn-version
  #     value: latest

  image:
    repository: harbor.nf.lab/proxy.docker.io/velero/velero
  # https://velero.io/docs/v1.6/customize-installation/#customize-resource-requests-and-limits
  resources:
    requests:
      cpu: 500m
      memory: 128Mi
    limits:
      cpu: 6000m
      memory: 3072Mi

  initContainers:
  - name: velero-plugin-for-aws
#    image: harbor.nf.lab/proxy.docker.io/velero/velero-plugin-for-aws:v1.13.2
    volumeMounts:
      - mountPath: /target
        name: plugins

  configuration:
    features: EnableCSI,EnableAPIGroupVersions
    logLevel: info
    backupStorageLocation:
    - name: default
      defaultVolumesToFsBackup: false
      provider: aws
      bucket: velero
      config:
        region: enam
        s3Url: https://c8447e01e7c0018cf456923099f43457.r2.cloudflarestorage.com
        s3ForcePathStyle: "true"
        checksumAlgorithm: ""
      credential:
        key: cloud
        name: cf-credentials
    volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: enam
        s3Url: https://c8447e01e7c0018cf456923099f43457.r2.cloudflarestorage.com
        s3ForcePathStyle: "true"
        checksumAlgorithm: ""
      credential:
        key: cloud
        name: cf-credentials

  snapshotsEnabled: true
  
  deployNodeAgent: true

  kubectl:
    image:
      repository: alpine/k8s
      tag: "1.35.0"

  metrics:
    serviceMonitor:
      enabled: true
    nodeAgentPodMonitor:
      enabled: true
    prometheusRule:
      enabled: true
      spec:
        - alert: VeleroBackupPartialFailures
          annotations:
            message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups.
          expr: |-
            velero_backup_partial_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
          for: 15m
          labels:
            severity: warning
        - alert: VeleroBackupFailures
          annotations:
            message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} failed backups.
          expr: |-
            velero_backup_failure_total{schedule!=""} / velero_backup_attempt_total{schedule!=""} > 0.25
          for: 15m
          labels:
            severity: warning
