
sources:
  lastMinorRelease:
    kind: helmchart
    spec:
      url: "oci://ghcr.io/prometheus-community/charts"
      name: "kube-prometheus-stack"
      version: "80.*.*"
conditions: {}
targets:
  chart:
    name: Bump Chart dependencies
    kind: helmchart
    spec:
      Name: "/home/runner/work/k8s-home/k8s-home/virt01/automated/monitoring/kube-prometheus-stack"
      file: "Chart.yaml"
      key: "$.dependencies[0].version"
      versionIncrement: "patch"
