kind: Deployment
apiVersion: apps/v1
metadata:
  name: rspamd
  labels:
    app: rspamd
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: rspamd
  template:
    metadata:
      labels:
        app: rspamd
    spec:
      serviceAccountName: rspamd-sa
      initContainers:
        - name: disable-ipv6
          image: busybox:latest
          command: ["sh", "-c", "sysctl -w net.ipv6.conf.all.disable_ipv6=1 && sysctl -w net.ipv6.conf.default.disable_ipv6=1"]
          securityContext:
            privileged: true
      containers:
        - name: rspamd
          image: ghcr.io/nforceroh/k8s-rspamd:latest
          imagePullPolicy: Always
          env:
            - name: RSPAMD_DNS_SERVERS
              value: "127.0.0.1"
          envFrom:
          - configMapRef:
              name: rspamd-env
          ports:
            - containerPort: 11332
              name: milter-port
              protocol: TCP
            - containerPort: 11333
              name: worker-port
              protocol: TCP
            - containerPort: 11334
              name: web-port
              protocol: TCP
          resources:
            limits:
              cpu: "2"
              memory: "6Gi"
            requests:
              cpu: "10m"
              memory: "128Mi"
          volumeMounts:
            - name: rspamd-pv
              mountPath: /var/lib/rspamd
            - name: rspamd-local-pv
              mountPath: /etc/rspamd/local.d
        - name: unbound
          image: mvance/unbound:latest
          ports:
            - containerPort: 53
              name: dns-udp
              protocol: UDP
          resources:
            limits:
              memory: 1Gi
              cpu: 200m
          securityContext:
            capabilities:
              add: ["NET_BIND_SERVICE"]
      dnsPolicy: "ClusterFirst"
      volumes:
        - name: rspamd-pv
          persistentVolumeClaim:
            claimName: rspamd-pvc
        - name: rspamd-local-pv
          persistentVolumeClaim:
            claimName: rspamd-local-pvc
